 :root {
     --bg-color: #001e3a;
     --bg-card-color: #012342;
     --bg-card-color-dark: rgba(0 0 0 / 10%);
     --black: #333;
     --white: #fff;
     --text-white: #ffffff99;
     --text-color: #e3b59e;
     --text-dark: #855e4f;
     --radius: 10px;
     --border-color: #e3b59e;
     --marquee-text: #ffffff99;

     --button-menu-text: var(--text-color);

     --modal-color-title: var(--black);
     --modal-color-body: #022342;
     --modal-color-button-text: white;
     --modal-color-text: white;
     --modal-color-button-bg: var(--bg-card-color);

     --card-border-color: rgba(255 255 255 / 0%);
     --gradient: linear-gradient(90deg, #ebc1a9, #8f6857);
     --total-balance-bg: linear-gradient(90deg, #ebc1a9, #8f6857);

     --total-balance-text: var(--text-color);

     --container: 680px;

     --auth-bg-img: url("/img/bg/login.png");
     --auth-bg-status: block;

     --auth-input-autofill: rgba(255 255 255 / 100%) !important;
     --auth-input-bg: rgba(1255 255 255/ 10%) !important;
     --auth-input-border: rgba(255 255 255 / 0%);
     --auth-input-text: var(--white);
     --auth-label: rgba(255 255 255 / 100%);
     --auth-submit-text: var(--bg-color);
     --auth-submit-bg: var(--gradient);

     --auth-redirect-text: var(--white);
     --auth-redirect-border: var(--white);
     --auth-redirect-bg: transparent;

     --auth-logo-text: var(--text-color);
     --auth-logo-bg: linear-gradient(180deg, #8b8b8b, #fff);

     --btn-gradient: white;

     --input-placeholder: rgba(255, 255, 255, 0.8);
     --input-autofill: var(--text-white);
     --input-border: var(--border-color);
     --input-text: var(--text-white);
     --input-bg: rgba(0 0 0 / 0%);
     --label-text: var(--text-white);

     --remember-text: var(--auth-label);

     --team-counter-title-bg: var(--gradient);
     --team-counter-title-text: var(--black);
     --team-counter-bg: var(--bg-card-color);
     --team-counter-total-text: var(--text-color);
     --team-table-title-bg: var(--bg-color);
     --team-table-title-text: var(--text-white);
     --team-table-row-bg: var(--bg-card-color);
     --team-table-border: rgba(0 0 0 / 7%);

     --balance-bg: rgba(0, 0, 0, .2);

     --nav-bottom-bg: var(--bg-card-color);
 }

 ::selection {
     background: rgba(0 0 0 / 0%);
 }

 ::-moz-selection {
     background: rgba(0 0 0 / 0%);
 }

 *:focus {
     outline: none !important;
 }

 img {
     /* filter: grayscale(1) brightness(1); */
 }

 @keyframes lightEffect {
     0% {
         right: -200%;
     }

     100% {
         opacity: 0;
         left: -100%;

     }
 }

 * {
     outline: none;
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
     -webkit-tap-highlight-color: transparent;
 }

 @import "form.css";
 @import "toast.css";

 html,
 body {
     padding: 0;
     margin: 0;
     color: var(--text-white);
     min-height: 100%;
     height: 100%;
     background-color: #f5f8fa;
     -webkit-user-select: none;
     user-select: none;
 }

 body {
     position: relative;
     z-index: 9999999;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 .container {
     max-width: 680px;
     margin: 0 auto;
 }

 main {
     position: relative;
     overflow: hidden;
     z-index: 1;
     background-color: var(--bg-color);
     min-height: 100vh;
     padding: 0 30px 150px 30px;
     display: block;


 }




 .btn-gradient {
     display: inline-block;
     background: var(--gradient);
     color: black;
     padding: 10px 30px;
     border-radius: var(--radius);
     font-size: 14px;
     filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.2));
 }

 .info.horizontal {
     display: block;
     text-align: center;
 }

 .info.horizontal .body {
     padding: 0;
 }

 .btn-small {
     padding: 7px 15px;
     display: inline-block;
     margin-top: 15px !important;
     font-size: 13px;
 }

 .gradient-two {
     background: linear-gradient(315deg, #f5efff, #daf1fe);
 }

 .gradient-text {
     /* background: linear-gradient(315deg, #9e66ff, #2cbfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
     color: var(--text-color)
 }


 .pageTitle {
     text-align: center;
     font-size: 18px;
     padding-bottom: 15px;
     margin-bottom: 59px;
 }

 .pageTitle::after {
     content: " ";
     background: var(--gradient);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     width: 100%;
     height: 50px;
     display: block;
     left: 0;
     right: -15px;
     top: 0;
     position: absolute;
     z-index: -1;
 }


 .pageTitle h1 {
     font-size: 16px;
     font-weight: 700;
     padding-top: 5px;

     background: var(--gradient);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
 }

 .pageTitle .back {
     position: absolute;
     top: 0;
     left: 0;
     padding: 15px 20px;
     background: var(--gradient);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

     z-index: 99999;

 }

 .infoBox {
     background-color: var(--bg-card-color);
     color: var(--text-white);
     padding: 15px;
     border-radius: var(--radius);
     font-size: 12px;
 }

 .text-center {
     text-align: center;
 }

 .bg-gradient {
     background: var(--gradient) !important;
 }

 .btn-outline {
     color: var(--text-color) !important;
     border: solid 2px var(--border-color) !important;
 }

 .info {
     font-size: 14px;
     text-align: left;
     padding: 15px;
     margin-top: 15px;
     background-color: var(--bg-card-color);
     border-radius: var(--radius);
     display: Flex;
     vertical-align: middle;
     justify-content: center;
     align-items: center;
 }

 .info .body {
     width: 100%;
     padding-left: 30px;
 }

 .info .body * {
     margin: 0;
 }

 .info.warning {
     background-color: var(--bg-card-color-dark);
     color: var(--text-color)
 }

 .info i {
     padding-right: 15px;
     font-size: 25px;
 }

 .info .fa-exclamation-triangle {
     color: var(--text-color);
 }

 .tableEmpty {
     padding: 15px;
     background-color: var(--bg-card-color);
     text-align: center;
     font-size: 14px;
 }









 .page_auth .logoButton {
     color: #fff !important;
     background: none !important;
     -webkit-text-fill-color: var(--white) !important;
     -webkit-background-clip: inherit !important;


 }

 .page_auth:after {
     content: ' ';
     display: var(--auth-bg-status);
     position: fixed;
     width: var(--container);
     margin: auto;
     bottom: 0;
     top: 0;
     background-image: var(--auth-bg-img);
     background-size: cover;
     background-position: top;
     left: 0;
     right: 0;
     z-index: -1;
 }


 @media (max-width:960px) {
     .login form {
         padding-top: 150px;
     }

     .page_auth:after,
     .container {
         width: 100%;
         max-width: 100%;
         margin: 0;
     }


     main {
         padding: 0 15px 100px 15px;
     }

     .loading:after,
     main:after {
         max-width: 100%;
     }
 }